<body>

    <app-toolbar [titulo]="'MURAL DE LICITAÇÕES TCE-PB'" style="font-size: 18px"></app-toolbar>

    <div class="content" role="main">

        <p-accordion>
            <p-accordionTab class="" header="Escolha uma opção abaixo" [selected]="true"  style="font-size: 15px">
                <button pButton type="button" (click)="navigateToPrevistas()" class="p-button p-button-secondary" label="Licitações Previstas" ></button>
                <br>
                <button pButton type="button" (click)="navigateToRealizadas()" class="p-button p-button-secondary" label="Licitações Realizadas"></button>
            </p-accordionTab>
        </p-accordion>

    </div>

    <app-footer></app-footer>
</body>